section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

article {
    flex: 0 0 calc(20% - 1rem);
    width: 100%;
    background-color: #99cecc;
    border: 0.3em solid #143837;
    color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}


article h4 {
    font-size: 1.5em;
}

@media (min-width: 1024px) {
    article {
        flex: 1 0 calc(20% - 1rem);
        max-width: calc(20% - 1rem);
    }
}

@media (max-width: 1023px) {
    article {
        flex: 1 0 calc(33.333% - 1rem);
        max-width: calc(33.333% - 1rem);
    }
}

@media (max-width: 768px) {
    article {
        flex: 1 0 100%;
        max-width: 100%;
    }
}