/*Pelayo Sierra Lobo, UO294217*/
/*Colores empleados en body: #ffffff (fondo), #595959 (texto)
  Colores empleados en header: #1F575C (fondo), #ffffff (texto)
  Colores empleados en h2 y h3: #1F575C (texto)*/

body { /*Especifidad 001*/
    font-family: "Trebuchet MS", sans-serif;
    color: #595959;
    background-color: #ffffff;
    font-size: 16px;
    margin: 0;
  }

body p{ /*Especifidad 002*/
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

main {
  margin-left: 5px;
  margin-right: 5px;
}

h2{ /*Especifidad 001*/
  color: #1F575C;
  background-color: transparent;
  font-size: 24px;
}

body h3{ /*Especifidad 002*/
  color: #1F575C;
  background-color: #ffffff;
}

main a:link { /* Especificidad: 012 */
  color: #294A0D;
  /*background-color: #ffffff; Lo hereda de body*/
 }
 
main a:visited { /* Especificidad: 012 */
  color: #294A0D;
  /*background-color: #ffffff; Lo hereda de body*/
 }
 
main a:focus { /* Especificidad: 012 */
  border-bottom: 1px solid;
  background: #BAE498;
  /*background-color: #ffffff; Lo hereda de body*/
 }
 
main a:hover { /* Especificidad: 012 */
  border-bottom: 1px solid;
  background: #CDFEAA;
  /*background-color: #ffffff; Lo hereda de body*/
 }
 
main a:active { /* Especificidad: 012 */
  background: #294A0D;
  color: #CDFEAA;
 }

header + p { /* Especificidad: 002 */
  font-size: 12px;
  color: #3a3a3a;
  font-style: italic;
  background-color: #ffed87;
  padding: 4px;
}

@media screen and (max-width: 600px) {
  p:first-of-type{ /* Especifidad 012 */
    display: none;
  }
}

ul { /* Especifidad 001 */
  list-style-type: disc;
  font-size: 18px;
}

ol { /* Especifidad 001 */
  list-style-type: upper-roman;
  font-size: 16px;
}

dl { /* Especifidad 001 */
  background-color: #22625F;
  padding: 10px;
  color: white;
}

dt { /* Especifidad 001 */
 font-size: 18px;
 /* color: white; lo hereda de dl */
}

video { /* Especifidad 001 */
  width:100%;
  height:auto;
 }

table { /* Especifidad 001 */
  table-layout: fixed; /* comportamiento predecible */
  width: 100%; /* llena cualquier contenedor en la que se ubique */
  border-collapse: collapse;
  border: 3px solid #22625F;
}

caption { /* Especifidad 001 */
  padding: 20px;
  font-style: italic;
  color: #666;
  text-align: center;
  letter-spacing: 1px;
}

th, td { /* Especifidad 001 */
  border: 3px solid #22625F;
  padding: 20px;  
  text-align: center;
  overflow-wrap: break-word;   
  color: white; 
}

th { /* Especifidad 001 */
  letter-spacing: 2px;
  background-color: #22625F;
}

td { /* Especifidad 001 */
  background-color: #0f2d2b;
}







