section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

article {
    width: 80%;
    height: 100%;
    background-color: #f3e7a4;
    border: 0.3em solid #205B58;
    color: #205B58;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}

article h4 {
    font-size: 1.5em;
}
