section { /* Especifidad 001 */
    width: 90vw;
    margin: 1.25rem auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 1vw;
    justify-items: center;
}

section h3{ /* Especifidad 002 */
    grid-column: 1 / -1;
}


article { /* Especifidad 001 */
    background-color: #f3f3f3;
    border: 0.2em solid #1F575C;
    color: #171717;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 2em;
}

article:hover { /* Especifidad 011 */
    transform: scale(1.05);
}

article h4 { /* Especifidad 002 */
    font-size: 1.5em;
}

@media (max-width: 1024px) {
    section { /* Especifidad 001 */
        grid-template-columns: 1fr 1fr 1fr;
        /* ADVERTENCIA: Redefinición de grid-template-columns
           Esto es para modificar como se representan los sections
           dependiendo de la pantalla
        */
    }
}

@media (max-width: 768px) {
    section { /* Especifidad 001 */
        grid-template-columns: 1fr 1fr;
        /* ADVERTENCIA: Redefinición de grid-template-columns
           Esto es para modificar como se representan los sections
           dependiendo de la pantalla
        */
    }
}

@media (max-width: 480px) {
    section { /* Especifidad 001 */
        grid-template-columns: 1fr;
        /* ADVERTENCIA: Redefinición de grid-template-columns
           Esto es para modificar como se representan los sections
           dependiendo de la pantalla
        */
    }
}

