section { /* Especifidad 001 */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}


article { /* Especifidad 001 */
    flex: 0 0 calc(20% - 1rem);
    width: 100%;
    background-color: #f3f3f3;
    border: 0.2em solid #143837;
    box-shadow: 0.5em 0.5em #dddddd;
    color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1em;
    flex-direction: column;
}

article:hover { /* Especifidad 011 */
    box-shadow: 0.5em 0.5em #9c9c9c;
    transform: scale(1.009);
}

article h4 { /* Especifidad 002 */
    font-size: 1.5em;
    
}

article>img{ /* Especifidad 002 */
    /* Hereda el color de fuente de article */
    background: #828282;
    border-radius: 3rem;
}

@media (max-width: 768px) {
    article { /* Especifidad 001 */
        /* ADVERTENCIA: Redefinición de flex-direction
        Se pasa de row a column para dispositivos pequeños */
        flex-direction: column;
        max-width: 100%;
    }
}