section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}


article {
    flex: 0 0 calc(20% - 1rem);
    width: 100%;
    background-color: #f3f3f3;
    border: 0.2em solid #143837;
    box-shadow: 0.5em 0.5em #dddddd;
    color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1em;
    flex-direction: row;
}

article:hover {
    box-shadow: 0.5em 0.5em #9c9c9c;
}

article h4 {
    font-size: 1.5em;
}


@media (max-width: 768px) {
    article {
        flex-direction: column;
        max-width: 100%;
    }
}