/*Pelayo Sierra Lobo, UO294217*/

/*Especifidad 001*/
body{ 
    font-family: "Trebuchet MS", sans-serif;
    color: #595959;
    background-color: transparent;
    font-size: 1em;
    margin: 0;
}


body p{ /*Especifidad 002*/
  font-size: 1em;
}

/*Especifidad 001*/
main, aside { /*Especifidad 001*/
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

h2{ /*Especifidad 001*/
  /*Hereda el background-color del body*/
  color: #1F575C;
  font-size: 1.7em;
}

body h3{ /*Especifidad 002*/
  /*Hereda el background-color del body*/
  color: #1F575C;
  font-size: 1.6em;
}

body h4 { /*Especifidad 002*/
  /*Hereda el background-color del body*/
  color: #113033;
  font-size: 1.1em;
}

body h5{ /*Especifidad 002*/
  /*Hereda el background-color del body*/
  font-size: 1em;
}

/* Especificidad: 002 */
main a, main nav a { /* Especificidad: 003 */
  color: #31570F;
  /*Hereda el background-color del body*/
 }

 /* Especifidad 012 */
main a:visited {
  /*Hereda el background-color del body*/
  color:#1F575C;
}

 /* Especificidad: 003 */
main nav a {
  text-decoration: underline;
  
 }
 
main a:focus { /* Especificidad: 012 */
  border-bottom: 0.06em solid;
  background: #BAE498;
  /*Hereda el color de fuente de main a*/
 }
 
main a:hover { /* Especificidad: 012 */
  /* Hereda el color de fuente de main a */
  border-bottom: 0.06em solid;
  background: #CDFEAA;
 }
 
main a:active { /* Especificidad: 012 */
  background: #294A0D;
  color: #CDFEAA;
 }
/* Especificidad: 002 */
header + p, header + p a { /* Especificidad: 003 */
  font-size: 0.8rem;
  color: #3a3a3a;
  font-style: italic;
  background-color: #ffed87;
  padding: 0.2rem;
}

@media screen and (max-width: 600px) {
  /* Especificidad: 002 */
  header + p{ /* Especifidad 002 */
    display: none;
  }
}

ul { /* Especifidad 001 */
  list-style-type: disc;
  font-size: 1.1rem;
}

ol { /* Especifidad 001 */
  list-style-type: upper-roman;
  font-size: 1rem;
}

dl { /* Especifidad 001 */
  background-color: #22625F;
  padding: 0.6rem;
  color: white;
}

dt { /* Especifidad 001 */
 font-size: 1.13rem;
 /* color: white; lo hereda de dl */
}

video { /* Especifidad 001 */
  width:50%;
  height:auto;
 }

table { /* Especifidad 001 */
  table-layout: fixed; /* comportamiento predecible */
  width: 90%; /* llena cualquier contenedor en la que se ubique */
  border-collapse: collapse;
  border: 0.18rem solid #22625F;
}

img { /*Especifidad 001*/
  width: 50%;
}

@media screen and (max-width: 700px) {
  /* ADVERTENCIA de redefinición de width de table. 
  Width es 50% hasta que se modifica si la pantalla es menor de 700px*/
  /* Especificidad: 001 */
  table{
    width: 100%;
  }
  
}

caption { /* Especifidad 001 */
  /*Hereda el background-color del body*/
  padding: 1.25rem;
  font-style: italic;
  color: #666;
  text-align: center;
}

/* Especificidad: 001 */
th, td { /* Especifidad 001 */
  border: 0.1875rem solid #22625F;
  padding: 1.25rem;  
  text-align: center;
  overflow-wrap: break-word;   
  
}

th { /* Especifidad 001 */
  background-color: #22625F;
  color: white;
}

td { /* Especifidad 001 */
  background-color: #f0f0f0;
  color: #0f2d2b;
}



section > div { /*Especifidad 002*/
  width: 70%;
  height: 30vw; 
}


button { /*Especifidad 001*/
  background-color: #22625F;
  background-image: linear-gradient(#389a95, #22625F);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 1rem;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  border: 0;
  cursor: pointer;
}


button:hover { /*Especifidad 011*/
  background-image: linear-gradient(-180deg, #22625F 0%, #22625F 100%);
}


article>img{ /*Especifidad 002*/
  width: 15vw;
}

section:nth-of-type(3)>article>img{ /*Especifidad 013*/
  width: 40vh;
  height: 40vh;
}

button+p{ /*Especifidad 002*/
  /*Hereda el background-color del body*/
  color: red;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

/* Carrusel */
p + article { /*Especifidad 002*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 50vh;
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 100vh;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
}


p + article>img { /*Especifidad 003*/
  width: 100%;
  max-width: 100vh;
  height: 60vh;
  position: absolute;
  transition: all 0.5s;
  object-fit: cover;
  border-radius: 0.5em;
}

p + article>button { /*Especifidad 003*/
  position: absolute;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  border: none;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
p + article>button:active { /*Especifidad 013*/
  transform: scale(1.1);
}

p + article>button:nth-of-type(2) { /*Especifidad 013*/
  top: 50%;
  left: 2%;
}

p + article>button:nth-of-type(1) { /*Especifidad 013*/
  top: 50%;
  right: 2%;
}


