/*Pelayo Sierra Lobo, UO294217*/

section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /*1rem*/
    justify-content: center;
    padding: 0.5rem;
}


section > h2 {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5em;
}

article {
    flex: 0 1 calc(25% - 1rem);
    min-width: calc(25% - 1rem);
    width: calc(25% - 1rem);
    aspect-ratio: 2/3;
    max-height: 30vh;
    background-color: #ffed87;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transform-style: preserve-3d;
    transition: transform .5s;
    border: 0.2em solid #143837;
}

article[data-state="flip"],
article[data-state="revealed"] {
    transform: rotateY(180deg);
    border-width: 0.5em;
}

article[data-element="RedBull"][data-state="flip"],
article[data-element="RedBull"][data-state="revealed"] {
    border-color: #0b099e; /* Red for RedBull */
}

article[data-element="McLaren"][data-state="flip"],
article[data-element="McLaren"][data-state="revealed"] {
    border-color: #f08400; /* Orange for McLaren */
}

article[data-element="Alpine"][data-state="flip"],
article[data-element="Alpine"][data-state="revealed"] {
    border-color: #cf06c5; /* Blue for Alpine */
}

article[data-element="AstonMartin"][data-state="flip"],
article[data-element="AstonMartin"][data-state="revealed"] {
    border-color: #00d463; /* Green for Aston Martin */
}

article[data-element="Ferrari"][data-state="flip"],
article[data-element="Ferrari"][data-state="revealed"] {
    border-color: #ff0000; /* Red for Ferrari */
}

article[data-element="Mercedes"][data-state="flip"],
article[data-element="Mercedes"][data-state="revealed"] {
    border-color: #286b71; /* Cyan for Mercedes */
}

article img {
    width: 90%; /* 70, 70*/
    height: 90%;
    transform: rotateY(180deg);
    position: absolute;
}

article h3 {
    background-color: transparent;
    font-size: 0.9rem;
    color: black;
}

@media screen and (max-width: 480px) {
    article h3 {
        font-size: 0.6rem;
        text-align: center;
    }
}

article img,
article h3 {
    backface-visibility: hidden;
}

button+p {
    font-size: 1.2rem;
    text-align: left;
    color: #595959;
    border: 0.2rem solid #595959;
    padding: 1em;
  }